@use "_var.scss" as v;

ul, .nav{
    list-style: none;
}
a{
    color: v.$color-black;
    cursor: pointer;
    text-decoration: none;
}
p{
    margin: 0;
}
section{
    margin-top: 10%;
}
.body {
    font-family: "Cabin", sans-serif;
    line-height: 1.55;
    font-size: v.$size-body;
}
.header{
    background-color: v.$color-two;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 10;
    .title{
        &--princ{
            margin: 0;
            display: flex;
            justify-content: center;
        }
    }
}
.button{
    &--header{
        border: none;
        padding: 9px;
        cursor: pointer;
        background-color: transparent;
        background-repeat: no-repeat;
        text-indent: -9999px;
    }
    &--menuouv,&--menuferm{
        background-image: url(../../assets/images/menu_dark.svg);
        background-position: center;
        justify-self: center;
        width: 40px;
        height: 30px;
        padding: 0;
    }
    &--menuferm{
        background-image: url(../../assets/images/close.svg);
        justify-self: end;
        margin-right: 27px;
    }
}
.title{
    margin: 0;
    &--princ{
        font-size: v.$size-titleprinc;
    }
    &--lien{
        color: v.$color-white;
    }
    &--span {
        color: v.$color-one;
    }
    &--second{
        font-size: v.$size-titlesecond;
    }
    &--trois{
        font-size: v.$size-titletrois;
    }
    &--quatre{
        font-size: v.$size-titlequatre;
    }
    &--footer{
        color: v.$color-two;
    }
}
.lightmode{
    border: none;
    padding: 9px;
    cursor: pointer;
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -9999px;
    background-image: url(../../assets/images/mode_day.svg);
    background-position: center;
    width: 30px;
    height: 30px;
    justify-self: center;
    padding: 0;
}

.burgermenu{
    display: none;
    animation-name: example;
    animation-duration: 0.3s;
    @keyframes example{
        0%   {left:-85vw; top:0px;}
        100% {left:0vw; top:0px;}
    }
}
.body--nav-open .burgermenu{
    position: fixed;
    width: 90vw;
    height: 100vh;
    background: v.$color-two;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    left: 0;
    box-shadow: 2px 0 20px black;
}
.nav{
    margin: 0;
    padding-left: 5%;
    &__el{
        margin: 13.5px 0;
        a{
            color: v.$color-one;
        }
    }
}
.small-caps{
    font-variant-caps: small-caps;
}
.groupe{
    ul{
        margin: 0;
    }
}
.phase, .points, .soulist, .info{
    &--li{
        position: relative;
        margin: 18px 0;
        &::before{
            content: "";
            position: absolute;
            display: block;
            width: 12px;
            height: 4px;
            background-image: -webkit-gradient(linear, left top, right top, from(v.$color-two), to(v.$color-one));
            background-image: linear-gradient(90deg,v.$color-two  0%,v.$color-one  100%);
            border-radius: 4px;
            left: -30px;
            top: 12px;
        }
    }
}
.soulist{
    margin: 12.5px 0 18px 0;
    &--li{
        margin: 12.5px 0;
        &::before{
            left: -12px;
            width: 4px;
            background-image: -webkit-gradient(linear, left top, right top, from(v.$color-one), to(v.$color-two));
            background-image: linear-gradient(90deg,v.$color-one  0%,v.$color-two  100%);
        }
    }
}  
.test{
    &__el{
        &--cita{
            font-size: v.$size-cita;
            text-align: center;
            font-style: italic;
            border-top: 1px solid v.$color-one;
            border-bottom: 1px solid v.$color-one;
            padding: 18px 0;
        }
        &--ul{
            margin-top: 0;
        }
    }
}
.figure{
    display: flex;
    flex-direction: column;
    margin: 0;
    img{
        border: 4px solid v.$color-one;
    }
}
.figcaption{
    padding: 12.5px 0;
    font-size: v.$size-caption;
    font-style: italic;
    text-align: center;
    background-color: v.$color-one;
}
.horizon{
    &__el{
        &--2p{
            font-style: italic;
        }
    }
}
.croquis{
    &__el{
        &--3figure{
            img{
                width: 50vw;
                align-self: center;
            }
        }
    }
}
.proto{
    &__el{
        &--2figure,&--3figure,&--4figure,&--5figure,&--6figure,&--7figure,&--8figure,&--9figure{
            img{
                width: 50vw;
                align-self: center;
            }
        }
    }
}
.footer{
    background-color: v.$color-one;
    .liste-compl{
        a{
            text-decoration: underline v.$color-two;
        }
    }
    .liste-copy{
        li{
            position: relative;
            overflow: hidden;
        }
        a{
            position: absolute;
            width: 100%;
            height: 100%;
            text-indent: 100%;
            white-space: nowrap;
        }
    }
}
.rux, .test{
    a{
        color: v.$color-two;
        text-decoration: underline v.$color-one;
    }
}
.dark{
    background-color: v.$color-black;
    color: v.$color-white;
    .figcaption{
        color: v.$color-black;
    }
    .lightmode{
        background-image: url(../../assets/images/mode_night.svg);
    }
    .header{
        background-color: v.$color-one;
    }
    .title{
        &--span{
            color: v.$color-two;
        }
        &--princ{
            a{
                color: v.$color-black;
            }
        }
    }
    .footer{
        a{
            color: v.$color-two;
        }
    }
    a{
        color: v.$color-one;
    }
    .button--menuouv{
        background-image: url(../../assets/images/menu.svg);
    }
    .copyright{
        color: v.$color-black;
    }
}