// COLOR

$color-one: #77E65E;
$color-two: #003838;
$color-white: #fff;
$color-black: #000;

//TYPO

//MOBILE

$size-body: 18px;
$size-caption: 14px;
$size-titleprinc: 38px;
$size-titlesecond: 44px;
$size-titletrois: 28px;
$size-titlequatre: 21px;
$size-cita: 25px;

//TAB



//DESKTOP



//MEDIA

$media-mob: 600px;
$media-tab: 900px;
$media-desk: 1200px;
$media-deskup: 1400px;
